<section class="title">
  <h4>Reminders</h4>
  <mat-icon>notifications_active</mat-icon>
</section>
<section class="reminder" *ngFor="let reminder of reminders">
  <span class="type">
    <mat-icon>{{ reminder.type }}</mat-icon>
  </span>
  <span class="detail">
    <span class="name">{{ reminder.name }}</span>
    <span class="date">{{ reminder.date | date:'short' }}</span>
  </span>
</section>

<ng-container *ngIf="remindersLoading">
  <sm-spinner></sm-spinner>
</ng-container>
