:host {
  margin: 1em;
  padding: 1em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 4em);
  border-radius: .5em;
}

.both {
  width: calc(100% - 4em);
}
.grid {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 4em);

  .card {
    flex: 0 0 50%;
    margin: 1em;
    border-radius: .5em;
    background-color: #eee;
    padding: 1em;
  }
}
