<article class="both">
  <h3>Both</h3>
  <section class="grid">
    <div class="card">
      <h4>Reminders</h4>
      <section *ngFor="let reminder of reminders" class="reminder">
        <span class="type">
          <mat-icon>{{ reminder.type }}</mat-icon>
        </span>
        <span class="detail">
          <span class="name">{{ reminder.name }}</span>
          <span class="date">{{ reminder.date | date:'long'}}</span>
        </span>
        <span class="done">
          <label>Completed</label>
          <mat-icon (click)="flip(reminder.id)">{{ reminder.done ? 'done' : 'donut_large' }}</mat-icon>
        </span>
      </section>

      <ng-container *ngIf="remindersLoading">
        <sm-spinner></sm-spinner>
      </ng-container>
    </div>

    <div class="card">
      <h4>Horses</h4>
      <section *ngFor="let course of courses$ | async" class="course">
        <span class="short">{{ course.short }}</span>
        <span class="name">
        <span>{{ course.name }}</span>
        <span class="description">{{ course.description }}</span>
        </span>
        <span class="progress">
          <label>Progress</label>
          <progress [value]="course.completed" max="10"></progress>
        </span>
        <span class="extras">
          <label>Increase</label>
          <button (click)="inc(course.id)">Increase</button>
          <label>Decrease</label>
          <button (click)="dec(course.id)">Decrease</button>
        </span>
      </section>
      <ng-container *ngIf="coursesLoading$ | async">
        <sm-spinner></sm-spinner>
      </ng-container>
    </div>
  </section>
</article>
