<article class="courses">
  <h3>Courses</h3>
  <section class="course" *ngFor="let course of courses">
    <span class="short">{{ course.short }}</span>
    <span class="name">
      <span>{{ course.name }}</span>
      <span class="description">{{ course.description }}</span>
    </span>
    <span class="progress">
      <label>Progress</label>
      <progress [value]="course.completed" max="10"></progress>
    </span>
    <span class="extras">
      <label>Increase</label>
      <button (click)="inc(course.id)">Increase</button>
      <label>Decrease</label>
      <button (click)="dec(course.id)">Decrease</button>
    </span>
  </section>

  <ng-container *ngIf="loading">
    <sm-spinner></sm-spinner>
  </ng-container>
</article>
