<section class="title">
  <h4>Progress</h4>
</section>
<section class="course" *ngFor="let course of courses$ | async">
  <span class="short">{{ course.short }}</span>
  <span class="name">
    <span>{{ course.name }}</span>
    <span class="description">{{ course.description }}</span>
  </span>
  <progress [value]="course.completed" max="10"></progress>
</section>

<ng-container *ngIf="coursesLoading$ | async">
  <sm-spinner></sm-spinner>
</ng-container>
