<section class="toolbar">
  <span class="title">Dashboard</span>
  <span class="buttons">
    <span class="date">{{ date }}</span>
    <span class="search">
      <mat-icon>search</mat-icon>
    </span>
  </span>

</section>

<section class="welcome">
  <span class="title">Welcome back, Figgy Maxima!</span>
  <img src="/assets/large.jpeg" alt="Pic of you learning" class="learned">
  <span class="message">You've learned <span class="completion">{{ completion }}%</span> of your goal this week!</span>
  <span class="motivator">Keep it up and improve your results!</span>
</section>

<section class="dash">
  <router-outlet></router-outlet>
</section>

