:host {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: #eee;
  height: 100%;
}

.toolbar {
  margin: 1em;
  display: flex;
  justify-content: space-between;
  vertical-align: center;

  span {
    padding: .3em;
  }

  .title {
    font-weight: bold;
  }

  .date {
    color: lightgray;
  }
}

.welcome {
  margin: 1em;
  background-color: lightpink;
  display: grid;
  border-radius: .5em;
  grid-template-areas: 'welcome pic'
                       'message pic'
                       'motivator pic';

  .title {
    padding: 1em;
    grid-area: welcome;
    font-size: 1.4em;
    font-weight: bold;
    color: tomato;
  }

  .message {
    grid-area: message;
    padding: 1em 1em 0 1em;
  }

  .motivator {
    grid-area: motivator;
    padding: 0 1em 1em 1em;
  }

  img {
    grid-area: pic;
    padding: 1em;
    background-size: contain;
  }
}

@media (max-width: 900px) {
  .welcome {
    grid-template-areas: 'welcome'
                       'message'
                       'motivator'
                       'pic';

    img {
      width: 100%;
    }
  }
}
