:host {
  display: grid;
  grid-template-areas: 'nav main sidebar';
  grid-template-columns: 14em 1fr 22em;
  grid-template-rows: 1fr;
  min-height: 100vh;
}

@media (max-width: 900px) {
  :host {
    grid-template-areas: 'nav' 'main' 'sidebar';
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}


sm-nav {
  grid-area: nav;
}

sm-sidebar {
  grid-area: sidebar;
}

main {
  grid-area: main;
}

@media screen and (max-width: 800px) {
  :host {
    grid-template-areas: 'nav'
                         'main'
                         'sidebar';
    grid-template-columns: 100%;
  }
}
