html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #222;
}


.course {
  display: flex;
  height: 5em;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;

  .short {
    background-color: lightgray;
    flex: 0 0 3em;
    height: 3em;
    line-height: 3em;
    text-align: center;
    border-radius: .3em;
  }

  .name {
    vertical-align: middle;
    padding: 1em;
    width: 60%;
    display: flex;
    flex-direction: column;
    height: 3em;

    .description {
      font-size: smaller;
      color: lightgray;
    }
  }

  .progress {
    flex: 1;
    width: 40%;
  }

  .extras {
    padding: 1em;
    display: flex;
    justify-content: space-around;
    color: lightgray;

    label, button {
      padding: 0 1em;
    }
  }

}


.reminder {
  display: flex;
  height: 4em;
  padding: 0 1em;
  width: 100%;
  align-items: center;

  .type {
    flex: 0 0 3em;
  }

  .done > * {
    padding: 0 1em;
  }

  .detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2em;
    padding-left: 1em;
    width: 15em;

    .date {
      color: lightgray;
      font-size: smaller;
    }
  }
}
