.nav-header {
  padding: 1em;
  font-size: 1.5em;

  .logo {
    margin: .4em;
    width: 1.5em;
    border-radius: .4em;
    vertical-align: middle;
  }

  .logo-text {
    margin: .4em
  }
}


mat-list-item {
  color: lightgray;
  font-weight: bold;
  margin: 1em;
}

mat-icon {
  margin-right: 1em;
}

mat-list-item.active {
  color: #222;

  mat-icon {
    color: lightblue
  }
}

.nav .link {
  color: lightgray;
  text-decoration: none;
}
.nav .active .link {
  color: #222;
}
