<div class="nav-header">
  <img src="/assets/logo.png" alt="Logo" class="logo">
  <span class="logo-text">Lil' app</span>
</div>
<mat-list class="nav">
  <mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a class="link" routerLink="">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
  </mat-list-item>

  <mat-list-item routerLinkActive="active">
    <a class="link" routerLink="courses">
      <mat-icon>folder_open</mat-icon> Courses
    </a>
  </mat-list-item>

  <mat-list-item routerLinkActive="active">
    <a class="link" routerLink="reminders">
      <mat-icon>calendar_today</mat-icon> Reminders
    </a>
  </mat-list-item>

  <mat-list-item routerLinkActive="active">
    <a class="link" routerLink="both">
      <mat-icon>all_inbox</mat-icon> Both
    </a>
  </mat-list-item>
</mat-list>
