<article class="reminders">
  <h3>Reminders</h3>
  <section *ngFor="let reminder of reminders" class="reminder">
    <span class="type">
      <mat-icon>{{ reminder.type }}</mat-icon>
    </span>

    <span class="detail">
      <span class="name">{{ reminder.name }}</span>
      <span class="date">{{ reminder.date | date:'long'}}</span>
    </span>

    <span class="done">
      <label>Completed</label>
      <mat-icon (click)="flip(reminder.id)">{{ reminder.done ? 'done' : 'donut_large' }}</mat-icon>
    </span>
  </section>

  <ng-container *ngIf="loading">
    <sm-spinner></sm-spinner>
  </ng-container>

</article>
