<section class="logout">
  Logout
  <mat-icon>logout</mat-icon>
</section>

<section class="profile">
  <img src="/assets/av.png" alt="Avatar" class="avatar">
  <span class="name">Maxima the Sour</span>
  <span class="title">Person</span>
</section>

<sm-progress></sm-progress>

<sm-reminders></sm-reminders>

