:host {
  display: flex;
  flex-direction: column;
  padding: 1em;

  > * {
    margin: 1em;
  }
}

.logout {
  display: flex;
  justify-content: space-between;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .avatar {
    border-radius: 50%;
    border: .4em solid lightgray;
    width: 45%;
    padding: 1em;
  }

  .name {
    font-size: 1.5em;
    padding: .5em;
    color: #222;
  }

  .title {
    color: lightgray;
  }
}
